@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');
.margin{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.names{
    color: #282c34;
    font-family: "roboto";
    font-size: 30px;
}
.input5{

    height: 50px;
    border-color: darkgray;
    border-style: solid;
    border-width: 2px;
    font-size: 20px;
    width: 100%;

}
.aligning{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profile_name{
    color: #282c34;
    font-family: "roboto";
    font-size: 50px;
}
.buttons{
    color: white;
    border-width: 0px;
    width: 100px;
    height: 40px;
    border-radius: 10px;
    font-size: 20px;
    align-items: end;
}
.btn-cancel{
    background: lightslategray;
    margin: 20px;
}
.btn-save{
    background: lightgreen;
    margin: 20px;
}
.form{
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: start;
     width: 100%;

 }
.btn-align2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.left-align{
    display: flex;
    flex-direction: row;
    justify-content: end;
    min-width: 100%

}
.number-input::-webkit-outer-spin-button,
.number-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}